p{
  color:black;
  font-family: Helvetica, Arial, sans-serif;
}
body{
  background-color:#E09CE8;
  text-align:center;
}
img{
  width:20%;
  border:0;
}

a{
  text-decoration: none;
}

nav li{
  list-style-type: none;
  text-align:center;
  width:100%;
  padding: 5px;
  background-color: #8ab0ff;
  margin: 0 auto;
  border: 2px solid #ffffff;
}

ol {
list-style-type: none;
}
nav ul {
  padding:0;
}

nav a:link, nav a:visited{
  color:#ffffff;
  font-weight: bold;
  text-decoration:none;
  font-family: "Times New Roman", Arial, sans-serif;
}

nav a:hover, nav a:active{
  background-color:#7491ff;
}

a{
  text-decoration:none;
}

#footer{
  color:red;
  font-family:Georgia,"Times New Roman", serif;
  font-size:1.2em;
  border-top:3px solid #8ab0ff;
}
