p{
  color:black;
  font-family: 'Noto Serif KR', sans-serif;

}
body{
  background-color:#E09CE8;
  text-align:center;
}


img{
  width:20%;
  border:0;
}
ol{
  text-decoration: none;
  list-style: none;
}

a{
  text-decoration: none;
}

nav li{
  list-style-type: none;
  text-align:center;
  width:100%;
  padding: 5px;
  background-color: #8ab0ff;
  margin: 0 auto;
  border: 2px solid #ffffff;
  font-family: 'Anton', sans-serif;
}
/* THIS IS WHERE I STARTED ADDING GRID STUFF */

.cards{
margin: 0 20px;
padding: 0;
list-style: none;
justify-content: center;
display: grid;
grid-gap:20px;
gap:30px;
background-color: #E09CE8;
color: #8ab0ff;
grid-template-areas:
"e f"
"a c"
"b d";
}

.cards li{
background-color: #8ab0ff;
border: 1.5px solid #ffffff;
padding: 5px;
border-radius: 5px;
max-width: 200px;
}

.cards img{
  width: 100%;
}

.cardtext{
  max-width:200px;
  text-align:center;
  justify-content:center;
}

.card1{
  grid-area:a;
}

.card2{
  grid-area: b;
}
.card3{
  grid-area: c;
}
.card4{
  grid-area:d;
}
.card5{
  grid-area:e;
}
.card6{
  grid-area: f;
}

@media screen and (min-width:600px){
  .cards{
    display:grid;
    grid-template-areas:
    "a c"
    "e f"
    "b d";
  }
}

@media screen and (min-width: 750px){
  .cards{
    display:grid;
    grid-template-areas:
    "b d"
    "a c"
    "e f";
  }
}










/*THIS IS WHERE I STOPPED ADDING GRID STUFF */

ol {
list-style: none;
font-family: 'Noto Serif KR', sans-serif;
}
nav ul {
  padding:0;
  list-style: none;
}

nav a:link, nav a:visited{
  color:#ffffff;
  font-weight: bold;
  text-decoration:none;
  font-family: "Times New Roman", Arial, sans-serif;
}

nav a:hover, nav a:active{
  background-color:#7491ff;
}

a{
  text-decoration:none;
}

#footer{
  color:red;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size:1.2em;
  border-top:3px solid #8ab0ff;
}

.container {
display:flex;
flex-direction:column;
justify-content:center;
}

@media (min-width: 600px){
  .container{
    flex-direction:row;
    flex-wrap:wrap;
    align-content:center;

}
}
